

<head>
  <link rel="stylesheet" href="/stylesheets/signupStyle.css">
</head>
<body>
  <div class="dividerss">

  </div>
<div class="loginBox">
  <img src="/images/user.png" alt=""class="user">

  <h2>Sign Up</h2>
  {{#if hasErrors}}
      {{# each messages}}
        <span class="errors-signup">{{this}} </span>
      {{/each}}
      <span>&nbsp;&nbsp;</span>
  {{/if}}
  <form onload="disableSubmit()" action="/user/signup" method="post">
    <p>Email</p>
    <input type="email" name="email" id="email" placeholder="Enter Email" value="" required>

    <p>Password</p>
    <input type="password" name="password" id="password" placeholder="Enter Password" value="" required>

    <p>Confirm Password</p>
    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Re-Enter Password" value="" required>

    <input type="checkbox" name="terms" id="terms" onchange="activateButton(this)"> <span class="iAgree" required>I Agree Terms & Coditions</span>

    <a href="#" class="read">Read Terms</a>

    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    <input type="submit" name="submit" id="submit" value="Sign Up">
  </form>
</div>

</body>
