

<head>
  <link rel="stylesheet" href="/stylesheets/signinStyle.css">

  <script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>

  <script>
  $(document).ready(function () {


    $('input:text:first').focus();


      $('#email').keypress(function (e) {
          if (e.keyCode == 13) {

              if ($('#email').val() == "") {
                  return false;
              }
              else {
                  $('#password').focus();
                  event.preventDefault();
              }
          }
      });


      $('#password').keypress(function (e) {
          if (e.keyCode == 13) {

              if ($('#password').val() == "") {
                  return false;
              }
              else {
                  $('#submit').focus();
              }
          }
      });
    });
  </script>
</head>
<body>
  <div class="dividerss">

  </div>
<div class="loginBox">
  <img src="/images/students/user.png" alt=""class="user">

  <h2>Log In</h2>
  {{#if hasErrors}}
      {{# each messages}}
        <span class="errors-signup">{{this}} </span>
      {{/each}}
      <span>&nbsp;&nbsp;</span>
  {{/if}}
  <form onload="disableSubmit()" action="/user/signin" method="post">
    <p>Email</p>
    <input type="email" name="email" id="email" placeholder="Enter Email" value="" required>

    <p>Password</p>
    <input type="password" name="password" id="password" placeholder="Enter Password" value="" required>

    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    <input type="submit" name="submit" id="submit" value="Log In">
    <a href="#">Forget Password</a>

  </form>
</div>

</body>
