<div class="bs-example">
    <div class="table-responsive">
        <table class="table table-bordered">
            <colgroup>
                <col class="con1" style="align: center; width: 30%" />
                <col class="con1" style="align: center; width: 20%" />
                <col class="con0" style="align: center; width: 20%" />
                <col class="con1" style="align: center; width: 20%" />
                <col class="con1" style="align: center; width: 10%" />
            </colgroup>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Sub Total</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Karpap Pushing Ayu</td>
                    <td class="product_price">5</td>
                    <td><input type="text" name="qty" class="product_qty" value="5"></td>
                    <td class="amount_sub_total">25</td>
                    <td><a href="#" class="delete">x</a></td>
                </tr>
                <tr>
                    <td>Slimming Tea</td>
                    <td class="product_price">25</td>
                    <td><input type="text" name="qty" class="product_qty" value="5"></td>
                    <td class="amount_sub_total">125</td>
                    <td><a href="#" class="delete">x</a></td>
                </tr>
                <tr>
                    <td>Tudung Shawl Butterfly</td>
                    <td class="product_price">15</td>
                    <td><input type="text" name="qty" class="product_qty" value="3"></td>
                    <td class="amount_sub_total">45</td>
                    <td><a href="#" class="delete">x</a></td>
                </tr>
                <tr>
                    <td>Tudung Shawl Butterfly 5</td>
                    <td class="product_price">20</td>
                    <td><input type="text" name="qty" class="product_qty" value="2"></td>
                    <td class="amount_sub_total">40</td>
                    <td><a href="#" class="delete">x</a></td>
                </tr>

                <tr>
                    <td>Total</td>
                    <td>&nbsp;</td>
                    <td id="total_qty">15</td>
                    <td id="total_amount">235</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>GST 6 %</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td id="gst_amount">14.1</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Discount  (x%)</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td id="discount_amount">&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Total Payment</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td id="grand_total">249.1</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="5" class="checkout"><a href="#">CHECKOUT</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
